*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(191, 233, 235);
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h3{
    font-size: 16px;
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;
}
#nav i{
    font-size: 16px;
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;
}
#nav-part3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
}
#btn2{
    border: none;
    color: #fff;
    background-color: orangered;
}
#main>h1{
    font-size: 50px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 250px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#img4{
    transform: translate(-50%,-50%) rotate(0deg);
}
#btn-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 17px;
}
#insta{
    position: absolute;
    bottom: 10%;
    right: 3%;
    size: 5px;
}
#youtube{
    position: absolute;
    bottom: 10%;
    right: 6%;
    size: 5px;
}
#facebook{
    position: absolute;
    bottom: 10%;
    right: 9%;
    size: 5px;
}
#txt-right{
    position: absolute;
    bottom: 5%;
    right: 3%;
    font-size: 17px;
}